<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>
    <header class="header">
        <div class="title">
            <p class="ascii-title" href="/">
                ████████╗██╗  ██╗███████╗    ████████╗███████╗ ██████╗██╗  ██╗    ██████╗ ██╗      ██████╗  ██████╗ 
                ╚══██╔══╝██║  ██║██╔════╝    ╚══██╔══╝██╔════╝██╔════╝██║  ██║    ██╔══██╗██║     ██╔═══██╗██╔════╝ 
                   ██║   ███████║█████╗         ██║   █████╗  ██║     ███████║    ██████╔╝██║     ██║   ██║██║  ███╗
                   ██║   ██╔══██║██╔══╝         ██║   ██╔══╝  ██║     ██╔══██║    ██╔══██╗██║     ██║   ██║██║   ██║
                   ██║   ██║  ██║███████╗       ██║   ███████╗╚██████╗██║  ██║    ██████╔╝███████╗╚██████╔╝╚██████╔╝
                   ╚═╝   ╚═╝  ╚═╝╚══════╝       ╚═╝   ╚══════╝ ╚═════╝╚═╝  ╚═╝    ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝
            </p>
            <p class="version">
                V1.0 Computing Knowledge Database
            </p>
        </div>
        <nav class="navbar">
            <div>
                <ul class="link-list">
                    <a class="link" href="/"><li>> Home</li></a>
                    <a class="link" href="/dashboard"><li>> Dashboard</li></a>
                    <a class="link" href="/login"><li>> Login</li></a>
                    {{#if logged_in}}
                    <a class="link" id="logout" href="/"><li>> Logout</li></a>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>

    <div class="divider"></div>

    <main>
        <div>
            {{{ body }}}
        </div>

    </main>

    {{!-- if the user is logged in, allow script for logout function --}}
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>