{{#if blogPosts.length}}
<section class="your-blog-posts">
            {{#each blogPosts as |blogPost|}}
    {{> dashboard-list}}
    {{/each}}
    {{else}}
   <h3 class="none">No blog posts found.</h3>
</section>
{{/if}}

<div class="new-post-container">
    <a href="/dashboard/new"><button type="submit" class="new-post">+ New Post</button></a>
</div>

