  <h3 class="comment-header">Edit Post</h3>
        <div>
            <form id="edit-post-form">
                <label for="title">Title</label><br>
                <input class="title" type="text" id="edit-title" name="title"><br>
                <label for="content">Content</label><br>
                <input class="content" type="text" id="edit-content" name="content"><br>
                <input class="update" type="submit" value="Update Post"><br>
                <input id="delete-post-btn" class="delete" type="submit" value="Delete">
            </form>
        </div>

<script src="../public/js/edit-blogPost.js"></script>
<script src="../public/js/delete-blogpost.js"></script>