{{!-- login form --}}
        <h3>Login</h3>
        <div>
            <form class="login-form">
                <label for="username">Username</label><br>
                <input type="text" id="username-login" class="username" name="username"><br>
                <label for="password">Password</label><br>
                <input type="text" id="password-login" class="password" name="password"><br>
                <input class="login" type="submit" value="Login!">
            </form>
            <p class="sign-up">Sign up instead</p>
        </div>

{{!-- signup form --}}
 <h3>Sign Up</h3>
        <div>
            <form class="signup-form">
                <label for="username">Username</label><br>
                <input type="text" id="username-signup" class="username" name="username"><br>
                <label for="password">Password</label><br>
                <input type="text" id="password-signup" class="password" name="password"><br>
                <input class="sign-up" type="submit" value="Sign Up!">
            </form>
            <p class="login">Login instead</p>
        </div>

{{!-- link script for login and signup functions --}}
<script src="../public/js/login.js"></script>