{{!-- login form --}}
        <h3 class="login-header">Login</h3>
        <div class="login-container">
            <form class="login-form">
                <label for="username">Username</label>
                <input type="text" id="username-login" class="username" name="username">
                <label for="password">Password</label>
                <input type="password" id="password-login" class="password" name="password">
                <input class="login-btn" type="submit" value="Login">
            </form>
        </div>

{{!-- signup form --}}
 <h3 class="signup-header">Sign Up</h3>
        <div class="signup-container">
            <form class="signup-form">
                <label for="username">Username</label>
                <input type="text" id="username-signup" class="username" name="username">
                <label for="password">Password</label>
                <input type="password" id="password-signup" class="password" name="password">
                <input class="signup-btn" type="submit" value="Sign Up">
            </form>
        </div>

{{!-- link script for login and signup functions --}}
<script src="/js/login.js"></script>