{{!-- login form --}}
        <h3 class="login-header">Login</h3>
        <div class="login-container">
            <form class="login-form">
                <label for="username">Username</label><br>
                <input type="text" id="username-login" class="username" name="username"><br>
                <label for="password">Password</label><br>
                <input type="password" id="password-login" class="password" name="password"><br>
                <input class="login-btn" type="submit" value="Login!">
            </form>
            {{!-- <p class="signup">Sign up instead</p> --}}
        </div>

{{!-- signup form --}}
 <h3 class="signup-header">Sign Up</h3>
        <div class="signup-container">
            <form class="signup-form">
                <label for="username">Username</label><br>
                <input type="text" id="username-signup" class="username" name="username"><br>
                <label for="password">Password</label><br>
                <input type="password" id="password-signup" class="password" name="password"><br>
                <input class="signup-btn" type="submit" value="Sign Up!">
            </form>
            {{!-- <p class="login">Login instead</p> --}}
        </div>

{{!-- link script for login and signup functions --}}
<script src="/js/login.js"></script>