 <h3 class="new-post-header">Create New Post</h3>
        <div class="new-post-form-container">
            <form id="new-post-form">
                <label for="title">Title</label><br>
                <input class="title" type="text" id="post-title" name="title" value="{{blogpost.title}}"><br>
                <label for="content">Content</label><br>
                <input class="content" type="text" id="post-content" name="content" value="{{blogpost.content}}"><br>
                <input class="new-post-btn" type="submit" value="Create">
            </form>
        </div>

<script src="/js/add-blogPost.js"></script>