.blog-post-container a, .blog-post-container p {
    padding: 10px;
}

.blog-post-header .post-title {
    color: #EDD400;
    text-decoration: none;
    font-weight: bold;
}

.user, .read-link {
    color: #729FCF;
    text-decoration: none;
}

.blog-post-container {
    margin: 50px;
    border-bottom: #fafafa84 dashed 2px;
}

/* hover states */
.post-title:hover {
    text-decoration: underline;
    cursor: pointer;
}