* {
    box-sizing: border-box;
    margin: 0;
    color: #fafafa;
    font-family: 'Courier New', monospace;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
    border-bottom: #fafafa84 solid 2px;
}

main {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

body {
    background-color: #1a1a1a;
}

nav {
    margin: 20px;
}

.ascii-title {
    font-size: 0.5rem; 
    white-space: pre;
    text-align: center;
    border: none;
    overflow: auto;
}

.version {
    padding-left: 50px;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    padding-right: 8px;
    padding-left: 8px;
}

.link-list li {
    color: #729FCF;
}

.arrow {
    color: #4E9A06;
}

.link-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 50px;
}

footer {
    border-top: #fafafa84 solid 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px 0;
}

.footer-text {
    color: #fafafa84;
}

/* hover states */
.link:hover {
    text-decoration: underline;
    color: #729FCF;
}

.link-list li:hover {
    color: #729FCF;
}

/* responsive styles */
@media (max-width: 1097px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .link-list {
        flex-direction: column;
        padding-right: 0;
    }

    .divider {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .ascii-title {
        font-size: 0.3rem;
    }

    .link {
        padding-right: 4px;
        padding-left: 4px;
    }

    .divider {
        margin: 5px;
    }
}