/* main.handlebars styling */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #EBF6E1;
}

a {
    text-decoration: none;
}

nav {
    background-color: #1E0C08;
    height: 6rem;
}

nav ul {
    padding-top: 10px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    color: #EBF6E1;
}

nav h1 {
    border: 5px solid #EBF6E1;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #EBF6E1;
    margin-left: 50px;
    margin-top: 13px;
    color: #1E0C08;
    display: inline-block;
    box-shadow: 4px 4px #A4A4A4;
}

/* homepage.handlebars styling */

.blog-post-container {
    border: 2px solid #1E0C08;
    padding: 10px;
    margin: 0px 15px 15px 15px;
}

.blog-post-home {
    background-color: #1E0C08;
    color: #EBF6E1;
    margin: 15px 15px 0px 15px;
    padding: 5px;
    font-size: medium;
}

.blog-post-home a {
    text-decoration: none;
    color: #EBF6E1;
}

/* login.handlebars styling */

.login-container, .signup-container {
    border: 2px solid #1E0C08;
    padding: 10px;
    margin: 0px 15px 15px 15px;
}

.login-header, .signup-header {
    background-color: #1E0C08;
    color: #EBF6E1;
    margin: 15px 15px 0px 15px;
    padding: 5px;
    font-size: medium;
}

.login-form label, .signup-form label {
    text-align: left;
    padding: 10px;
}

.username, .password, .login-btn, .signup-btn {
    width: 95%;
    padding: 10px;
    margin: 10px;
}

.login, .signup {
    text-align: left;
}